.admin-dashboard {
  position: relative; 
  z-index: 1; 
}

.admin-dashboard-content {
  padding: 20px; 
  cursor: pointer;
}

.MuiDrawer-paper {
  z-index: 20; /* Más alto que el Navbar */
}

.css-z2qibm-MuiListItem-root {
  cursor: pointer;
}

.property-list {
  margin-top: 20px;
}

.property-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  position: relative;
}

.property-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  border: 1px solid #e0e0e0;
  z-index: 10;
  padding: 10px;
}

.dropdown-menu button {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #0056b3;
}

.modal {
  width: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ReactModal__Overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px; 
  width: 80%; 
  max-height: 80vh; 
  overflow-y: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.ReactModal__Content {
  padding: 20px;
  max-height: 80vh; 
  overflow-y: auto; 
}


@media (max-width: 680px) {

  .css-nd0xiu-MuiStep-root {
    padding-left: 8px !important; 
    padding-right: 8px !important; 
  }
  
  }