.carousel-image {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 400px;
    margin: 0;
    background-color: transparent;
}

.swiper-button-prev,
.swiper-button-next:after {
    color: black;
    font-size: 30px;
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}