@media (max-width: 800) {
    .MuiToolbar-root {
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .logo {
        max-width: 100px;
    }

    .MuiToolbar-root {
        flex-wrap: wrap;
        align-items: center !important;
        justify-content: left;
    }
}

@media (min-width: 1250) {
    .css-4lcynp-MuiPaper-root-MuiAppBar-root {
        padding: 0 10px;
        display: flex;
        align-content: space-between;
        align-items: stretch;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

a img {
    max-width: 310px !important;
    height: auto;
}

@media (min-width: 950px) {
    .css-g2n3xz {
        text-align: left;
        width: 300px;
    }
}

@media (min-width: 0px) {
    .css-4lcynp-MuiPaper-root-MuiAppBar-root {
        padding: 0 10px;
        display: flex;
        justify-content: center;
    }
}