.css-95f9g5-MuiToolbar-root {
    position: sticky; 
    top: 0;
}

.MuiAppBar-root {
    box-shadow: none; 
    z-index: 1100;
    display: flex;
    justify-content: center;
}

.MuiToolbar-root {
    min-height: 64px; 
}

@media (max-width: 599px) {
    .MuiToolbar-root {
        min-height: 56px; 
    }
}

img {
    max-width: 150px;
    height: auto;
}

@media (max-width: 599px) {
    img {
        max-width: 100px;
    }
}
