.property-search-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 40px;
  }
  
  .filters-container {
    width: 300px; /* Fixed width for filters */
    margin-right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .property-search-container {
      flex-direction: column; /* Stack filters and properties vertically */
    }
  
    .filters-container {
      width: 100%; /* Full width for filters */
      margin-bottom: 20px; /* Add spacing below filters */
    }

  }
  
  .css-10jnrrx-MuiTypography-root {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-bottom: 24px;
  }