.property-search-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    padding: 40px;
    margin-top: 10px;
  }

  .css-11sqy7u .MuiInputBase-root {
    padding: 0px;
}
  
  .filters-container {
    width: 300px; 
    margin-right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .property-search-container {
      flex-direction: column; 
    }
  
    .filters-container {
      width: 100%; 
      margin-bottom: 20px; 
    }

  }
  
  .css-10jnrrx-MuiTypography-root {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-bottom: 24px;
  }

  .css-n7ppdg-MuiPaper-root-MuiAccordion-root .MuiAccordionSummary-root {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 10px !important;
}

.css-a0naa1-MuiFormControl-root-MuiTextField-root .MuiInputBase-root {
  padding: 0px !important;
}

.css-mhc70k-MuiGrid-root {
padding: 5px !important;

}