.extra-feature {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .extra-feature svg {
    font-size: 24px;
    color: #555;
  }  

  .property-details {
    margin: 0 auto;
    padding: 0px 100px;
  }
  
  .property-info {
    margin-top: 20px;
    line-height: 35px;
  }

  .ubicacion{
    font-size: 25px !important;
  }
  
  .property-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .property-info p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .extra-feature {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 1rem;
  }
  
  .extra-feature svg {
    margin-left: 8px;
    color: black;
    font-size: 15px;
  }
  
  button {
    margin-top: 20px;
  }

  @media (max-width: 1024px) {

  .property-details {
    margin: 0 auto;
    padding: 0px 10px; 
}

button {
  margin-left: 0px !important;
}

  }
  